EDIT FOR LIST ENTRY <br></br>

<form class="" action="/tasks/<%= @task.id %>" method ="post">
<input type= "hidden" name ="_method" value ="patch">
<label for="title">Title: </label>
<input type="text" name="title" value="<%=@task.title%>"><br><br>
<label for="description">Description: </label>
<!--<input type="text" name="description" value="<%=@task.description%>"><br><br>-->
<textarea type="text" name="description"><%= @task.description %></textarea><br></br>
<label for="due_date">Due Date:</label>
<input type="date" name="due_date" value="<%=@task.due_date%>"><br><br>
<input type ="submit" name="" value="Edit task">
</form>
